<div class="flex flex-col gap-4 m-5 overflow-auto">
    <section class="w-full">
        <div class="flex flex-wrap justify-center items-center mb-4">
            <card-component
                title="This month income"
                content="{{ dashboardData$().thisMonthIncome | currency}}"
                icon="fa-solid fa-wallet"
                icon_color="text-teal-500"
            />

            <card-component
                title="This month spent"
                content="{{ dashboardData$().thisMonthSpent | currency }}"
                icon="fa-solid fa-cart-shopping"
                icon_color="text-red-500"
            />

            <card-component
                title="Movements count"
                content="{{ dashboardData$().thisMonthMovementsCount }}"
                icon="fa-solid fa-receipt"
                icon_color="text-blue-500"
            />

            <card-component
                title="Pending movements"
                content="{{ dashboardData$().pendingMovementsRecurring }}"
                icon="fa-solid fa-clipboard-list"
                icon_color="text-yellow-500"
            />
        </div>
    </section>
    <div class="flex flex-col md:flex-row gap-4">
        <section class="flex-10">
            <app-top-movements [Movements]="dashboardData$().top20Movements"/>
        </section>
        <section class="flex-4">
            <div class="flex flex-col gap-4">
                @for (summaryPaymentMethod of dashboardData$().summaryPaymentMethods; track summaryPaymentMethod.cardName) {
                    <app-card-summary [PaymentMethodSummary]="summaryPaymentMethod"/>
                }
            </div>
        </section>
    </div>
    <!-- <section class="w-full">
        <app-timeline></app-timeline>
    </section> -->
</div>