<div class="container mx-auto p-4">
    <div class="flex justify-center items-center mb-4">
        <card-component
            title="This month income"
            content="{{ dashboardData?.thisMonthIncome }}"
            icon="fa-solid fa-wallet"
            icon_color="text-indigo-500"
            [isMoney]="true"
        />

        <card-component
            title="This month spent"
            content="{{ dashboardData?.thisMonthSpent }}"
            icon="fa-solid fa-cart-shopping"
            icon_color="text-cyan-500"
            [isMoney]="true"
        />

        <card-component
            title="Movements count"
            content="{{ dashboardData?.thisMonthMovementsCount }}"
            icon="fa-solid fa-receipt"
            icon_color="text-rose-500"
            [isMoney]="false"
        />

        <card-component
            title="Pending movements"
            content="{{ dashboardData?.pendingMovementsRecurring }}"
            icon="fa-solid fa-clipboard-list"
            icon_color="text-yellow-500"
            [isMoney]="false"
        />
    </div>

    <div class="flex justify-center space-x-4">
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="homeStore.inc()">Increment</button>
        <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="homeStore.dec()">Decrement</button>
    </div>
</div>
