@let movementsLocal = movementStore.select.movements();
@let isLoading = movementStore.select.isLoading();

<div class="flex flex-col gap-4 m-5">
    @if (movementsLocal && movementsLocal.items && movementsLocal.items.length > 0) {
        <app-table
            [tableConfiguration]="getTableConfiguration(movementsLocal)"
            (pageChange)="onPageChange($event)">
        </app-table>
    } @else {
        <div class="text-center p-5">
            @if (isLoading) {
                <p>Loading movements...</p>
            } @else {
                <p>No movements found.</p>
            }
        </div>
    }
</div>

<ng-template #typeCell let-row=row>
    <app-movement-type-icon [movementType]="row.movementType" />
</ng-template>

<ng-template #dateCell let-row=row>
    <div class="flex gap-3 justify-center">
        <span>
            {{ row.movementDate | date:'mediumDate' }}
        </span>
    </div>
</ng-template>

<ng-template #paymentCell let-row=row>
    <div class="flex gap-3 justify-center">
        <span class="font-semibold text-cyan-900 dark:text-blue-100">
            {{ row.paymentMethod?.name }}
        </span>
    </div>
</ng-template>

<ng-template #amountCell let-row=row>
    <div class="flex gap-3 justify-center">
        <span>
            {{ row.amount | currency}}
        </span>
    </div>
</ng-template>

<ng-template #categoryCell let-row=row>
    <div class="flex gap-3 justify-center">
        <span class="inline-block p-4 py-1 rounded-full font-medium shadow-sm backdrop-blur-sm border
            bg-blue-100 text-blue-700 border-blue-200/30
            dark:bg-blue-500/20 dark:text-sky-300 dark:border-sky-400/20 dark:shadow-cyan-500/30">
            {{ row.category.name }}
        </span>
    </div>
</ng-template>

<ng-template #actionsCell let-row=row>
    <div class="flex gap-3 justify-center">
        <button class="px-2 py-1 rounded bg-red-100 text-red-700 hover:bg-red-200
            dark:bg-red-900/70 dark:text-red-400 dark:hover:bg-red-600/60">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</ng-template>