<div class="overflow-x-auto p-5">

    <table
        class="table-default min-w-full divide-y divide-gray-200 rounded-xl overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="px-4 py-3 text-xs font-bold uppercase tracking-wider drop-shadow">Type</th>
                <th class="px-4 py-3 text-xs font-bold uppercase tracking-wider drop-shadow">Date</th>
                <th class="px-4 py-3 text-xs font-bold uppercase tracking-wider drop-shadow">Description</th>
                <th class="px-4 py-3 text-xs font-bold uppercase tracking-wider drop-shadow">Amount</th>
                <th class="px-4 py-3 text-xs font-bold uppercase tracking-wider drop-shadow">Category</th>
            </tr>
        </thead>
        <tbody>
            @let movementsLocal = movementStore.select.movements();
            @if (movementsLocal && movementsLocal.items && movementsLocal.items.length > 0) {
                @for(movement of movementsLocal.items; track movement.id) {
                <tr class="text-center">
                    <td class="py-2">
                        <app-movement-type-icon 
                            [movementType]="movement.movementType"
                        />
                    </td>
                    <td class="py-2">
                        <div class="font-bold">{{ movement.movementDate | date:'fullDate' }}</div>
                    </td>
                    <td class="py-2">
                        {{ movement.description}}
                    </td>
                    <td class="py-2">{{ movement.amount |
                        currency}}</td>
                    <td class="py-2">
                        <span class="inline-block p-4 py-1 rounded-full font-medium shadow-sm
                        bg-blue-100 text-blue-700
                        dark:bg-blue-900/50 dark:text-blue-100">
                            {{ movement.category.name }}
                        </span>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

</div>