<!-- User Menu Button -->
<div class="relative inline-block text-left">
    <button id="userMenuButton" type="button"
        class="ml-4 text-gray-600 px-5 py-2 rounded-lg shadow font-semibold hover:bg-amber-200 transition-all focus:outline-none focus:ring-2 focus:ring-gray-400 cursor-pointer"
        aria-label="Cerrar sesión"
        (click)="showMenu = !showMenu">
        <i class="fa-solid fa-user"></i>
        <span class="mx-2 font-bold">{{ authStore.select.user()?.name }}</span>
        <span class="font-semibold text-gray-800"></span>
        <i class="fa-solid fa-caret-down"></i>
    </button>

    <!-- Dropdown Menu -->
    <div id="userMenuDropdown"
        class="hidden absolute right-0 mt-2 min-w-30 rounded-xl shadow-2xl bg-white/80 backdrop-blur border border-white/40 ring-1 ring-black/10"
        [ngClass]="{ 'hidden': !showMenu }">
        <div class="py-2 z-10 flex flex-col space-y-1">
            <div class="hover:bg-gray-100 flex flex-row-reverse">
                <a href="#" class="flex items-center px-4 py-2 rounded-lg transition font-medium text-indigo-600">
                    Profile <i class="fa-solid fa-user ml-2"></i>
                </a>
            </div>
            <div class="hover:bg-gray-100 flex flex-row-reverse">
                <a href="#" class="flex items-center px-4 py-2 rounded-lg transition font-medium text-indigo-600">
                    Config <i class="fa-solid fa-gear ml-2"></i>
                </a>
            </div>
            <div class="hover:bg-gray-100 flex flex-row-reverse" (click)="this.authStore.logOut()">
                <a href="#" class="flex items-center px-4 py-2 rounded-lg transition font-medium text-red-600">
                    Logout <i class="fa-solid fa-arrow-right-from-bracket ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>