<div class="bg-default h-svw" [attr.data-theme]="configStore.isDarkMode ? 'dark' : 'light'">

    <app-toast></app-toast>

    @if(isLoggedIn){
        <nav
            class="bg-rose-700/60 dark:bg-gray-900/80 fixed top-0 left-0 w-full backdrop-blur-md py-4 px-8 flex items-center justify-between rounded-b-2xl mb-8 z-50"
        >
            <div class="text-2xl font-bold drop-shadow-glow dark:text-white text-white">
                <a href="/">{{ title() }}</a>
            </div>
            <ul class="flex space-x-6">
                <li>
                    <a href="/" class="font-medium text-white hover:text-gray-900 dark:hover:text-rose-300">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/Movements" class="font-medium text-white hover:text-gray-900 dark:hover:text-rose-300">
                        Movements
                    </a>
                </li>
                <li>
                    <a href="/Cards" class="font-medium text-white hover:text-gray-900 dark:hover:text-rose-300">
                        Cards
                    </a>
                </li>
            </ul>
            <div class="flex items-center">
                <app-group-button [Buttons]="buttons"/>
                <app-user-menu></app-user-menu>
            </div>
            <!-- <div>
                <button
                    class="ml-4 px-5 py-2 rounded-lg shadow font-semibold transition-all cursor-pointer
                    text-white hover:bg-rose-400 focus:ring-gray-400
                    dark:text-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600
                    bg-rose-300/40 dark:bg-gray-800"
                    aria-label="Cerrar sesión"
                    (click)="homeStore.openNewMovementModal()"
                >
                    <i class="fa-solid fa-plus"></i>
                </button>
                
            </div> -->
        </nav>

        <div class="mx-auto pt-20">
            <router-outlet/>
        </div>
    }@else{
        <app-login/>
    }

    @if(homeStore.select.isNewMovementModalOpen()){
        <app-new-movement/>
    }

    @if(homeStore.select.isLoading()){
        <div class="w-full h-1 bg-transparent absolute top-[4.5rem] left-0 z-50 overflow-hidden">
        <div class="h-full w-11/12 bg-gradient-to-r from-pink-500 via-amber-400 to-pink-500 animate-loading-bar"></div>
        </div>
        <style>
            @keyframes loading-bar {
                0%   { transform: translateX(-100%); }
                100% { transform: translateX(150%); } /* move way past container so it loops smoothly */
            }
        
            .animate-loading-bar {
                animation: loading-bar 2s linear infinite;
            }
        </style>
    }

</div>